extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Geena Fong

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | As a junior software developer, I am fascinated by the various ways in which a career in software development can grow. I am currently working towards Treehouse’s Techdegree and have been thoroughly enjoying the various projects and everything that I have learned. I am personally interested in a career that uses technology to help with an individual’s everyday life. I would enjoy working with consumers to see ways in which a product can be tailored to address their specific needs. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Javascript
          li HTML
          li CSS
          li jQuery
          li Object-Oriented Javascript
          li Express
          li Pug
        h6 Contact Info

        ul
          li 808-295-8636
          li gfong@lclark.edu

        a.button.expanded(href='https://www.linkedin.com/in/geena-fong-0001bbb0/') LinkedIn
        a.button.expanded(href='https://github.com/geenafong?tab=repositories') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back